<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGridExtensions" version="1.0.34.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net40" />
  <package id="TomsToolbox.Core" version="1.0.54.0" targetFramework="net452" />
  <package id="TomsToolbox.Desktop" version="1.0.54.0" targetFramework="net452" />
  <package id="TomsToolbox.ObservableCollections" version="1.0.54.0" targetFramework="net452" />
  <package id="TomsToolbox.Wpf" version="1.0.54.0" targetFramework="net452" />
</packages>