<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Terminology" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.terminology.microsoft.com/Terminology.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Terminology"
                contract="Microsoft.TerminologyService.Terminology" name="BasicHttpBinding_Terminology" />
        </client>
    </system.serviceModel>
</configuration>