<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Contracts Rules" Description="All rules except those conflicting with CodeContracts" ToolsVersion="16.0">
  <Include Path="allrules.ruleset" Action="Error" />
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1812" Action="None" />
  </Rules>
</RuleSet>