<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tomenglertde.ResXManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <tomenglertde.ResXManager.Properties.Settings>
      <setting name="StartupFolder" serializeAs="String">
        <value />
      </setting>
    </tomenglertde.ResXManager.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="TextListener"  type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" location="TempDirectory" logFileCreationSchedule="Weekly" traceOutputOptions="DateTime"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>