<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tomenglertde.ResXManager.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tomenglertde.ResXManager.Model.Properties.Settings>
            <setting name="DetectCodeReferences_Include" serializeAs="String">
                <value>(\.cs|\.vb|\.xaml|\.cshtml|\.aspx|\.ascx)$</value>
            </setting>
            <setting name="DetectCodeReferences_Exclude" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepFileContentSorted" serializeAs="String">
                <value>False</value>
            </setting>
        </tomenglertde.ResXManager.Model.Properties.Settings>
    </userSettings>
</configuration>