<Project>
  <PropertyGroup Label="Publish">
    <Configuration>Release</Configuration>
    <ApplicationRevision>0</ApplicationRevision>
    <ApplicationVersion>$(Version)</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>true</IsWebBootstrapper>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Background</UpdateMode>
    <UpdateInterval>7</UpdateInterval>
    <UpdateIntervalUnits>Days</UpdateIntervalUnits>
    <UpdatePeriodically>false</UpdatePeriodically>
    <UpdateRequired>false</UpdateRequired>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <InstallUrl>https://clickonce-tom-englert.azurewebsites.net/ResXResourceManager/</InstallUrl>
    <SupportUrl>https://github.com/dotnet/ResXResourceManager</SupportUrl>
    <ProductName>ResX Resource Manager</ProductName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublisherName>tom-englert.de</PublisherName>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <UseApplicationTrust>false</UseApplicationTrust>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.13 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x86">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.13 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>