[*]
indent_style = space
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
# CA1724: The type name X conflicts in whole or in part with the namespace name 'System.X'
dotnet_diagnostic.CA1724.severity = none
# CA1812: X is an internal class that is apparently never instantiated...
dotnet_diagnostic.CA1812.severity = none
# CA2008: Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2008.severity = none

[*.xaml]
indent_size = 2

[*.xml]
indent_size = 2

