[*]
indent_style = space
trim_trailing_whitespace = true
indent_size = 2

[*.cs]
indent_size = 4

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1303 pass a literal string as parameter message
dotnet_diagnostic.CA1303.severity = none

# CA1724: The type name X conflicts in whole or in part with the namespace name 'System.X'
dotnet_diagnostic.CA1724.severity = none

# CA1812: X is an internal class that is apparently never instantiated...
dotnet_diagnostic.CA1812.severity = none

# CA2008: Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2008.severity = none

# IDE0063: Using statement can be simplified
dotnet_diagnostic.IDE0063.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0065: Misplaced using directive
dotnet_diagnostic.IDE0065.severity = none

# CS8002: Referenced assembly 'Microsoft.WindowsAPICodePack.Shell, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.
dotnet_diagnostic.CS8002.severity = none

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = suggestion

# CA1845: Use span-based 'string.Concat'
dotnet_diagnostic.CA1845.severity = suggestion

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# CA1056: URI-like properties should not be strings
dotnet_diagnostic.CA1056.severity = silent

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none
