<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tomenglertde.ResXManager.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tomenglertde.ResXManager.View.Properties.Settings>
            <setting name="NeutralResourceLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ResourceFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFindCodeReferencesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeutralCultureCountyOverrides" serializeAs="String">
                <value>en=en-US</value>
            </setting>
            <setting name="VisibleCommentColumns" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="HiddenLanguageColumns" serializeAs="String">
                <value />
            </setting>
        </tomenglertde.ResXManager.View.Properties.Settings>
    </userSettings>
</configuration>