<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tomenglertde.ResXManager.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <tomenglertde.ResXManager.View.Properties.Settings>
      <setting name="NeutralResourceLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="ResourceFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="IsFindCodeReferencesEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NeutralCultureCountyOverrides" serializeAs="String">
        <value>en=en-US</value>
      </setting>
      <setting name="VisibleCommentColumns" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="HiddenLanguageColumns" serializeAs="String">
        <value />
      </setting>
    </tomenglertde.ResXManager.View.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>